@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,700;1,600&display=swap');

:root{
    --color-body: #dbe6e7;
    --color-heading: #eef3db;
    --color-base: #192844;
    --color-base2: #20243f;
    --color-brand: #f53779;
    --color-brand2: #ec6abb;
    --color-link: #41e6d5 ;
    --color-link2: #b1fff5;
    --color-misc: #f8f0c8;
    --sidebar-width: 325px;
    --font-base: "Bai Jamjuree"
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
    text-shadow: 2px 2px #000000;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.text-brand{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base)
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-separator{
    margin:auto;
    width: 60%;
    border: 1px solid var(--color-brand);
    border-style: solid;
    opacity: .9;
}

.row{
    justify-content: center;
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0px var(--color-brand);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 55px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

.portfolio-bottom-box{
    display: flex;
    flex-direction: row;
}

.portfolio-bottom-box>a{
    margin-right: auto;
}

.portfolio-bottom-box>ul{
    margin: 0;
}

.portfolio-bottom-box>ul>i{
    font-size: 24px;
}

.custom-tooltip {
    --bs-tooltip-bg: rgb(17, 28, 46);
    --bs-tooltip-color: var(--color-link);
    --bs-tooltip-opacity: 1;
  }

.under-construction{
    display:flex;
    margin: auto;
    justify-content: center;
}
.under-construction>i{
    font-size: 60px;
    color: var(--color-heading);
}

.contact-items{
    padding-left: 5px;
}

.contact-items>li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-items>li>a{
    margin-left: 15px;
    font-size: 20px;
}

.contact-iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 64px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* ABOUT ME */
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-bold{
    color: var(--color-link);
    font-weight: 700;
    text-shadow: 2px 2px #000000;
}

.about-left-content{
    text-align: center;
}

.about-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-image>img{
    display: block;
    width: 350px;
}

.about-image{
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 4%;
    border: 3px solid var(--color-brand);
    transition: all .5s;
}

.about-image:hover{
    box-shadow: 3px 3px 7px 1px rgb(0, 0, 0);
}

.about-right-content>.section-separator{
    width: 70%;
}
.about-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.about-icons>li{
    margin: 5px;
}
.about-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    background-color: var(--color-brand);
    color: var(--color-base);
    transition: all .5s;
}
.about-icon>a{
    transition: none;
    color: var(--color-base)
}

.about-icon:hover{
    box-shadow: 2px 2px 3px 1px rgb(0,0,0);
}
/* ABOUT ME END */

/* MODALS */
.modal-header{
    background-color: var(--color-base2);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 0;
    z-index: 1;
}

.modal-content{
    background-color: var(--color-base);
    border: 0;
}

.modal-content>.section-separator{
    width:80%;
}

.modal-footer{
    background-color: var(--color-base2);
    box-shadow: 0px 0px 10px black;
    border: 0;
    z-index: 1;
}
/* MODALS END */


/* NAVBAR */
.navbar{
    background-color: var(--color-base2);
    text-shadow: 2px 2px #000000;
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color: var(--color-link);
}

.navbar .nav-link.active{
    color: var(--color-link);
}

@media (min-width: 992px){
    body{
        background: linear-gradient(rgba(32, 36, 63, 0.98), rgb(32, 36, 63, 0.98)), url('https://i.pinimg.com/originals/4d/15/5c/4d155c6f7e5b1c6942059703c403ecaf.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: 120px center;
        background-repeat: no-repeat;
    }

    .navbar{
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(41, 11, 38, 0.2), rgba(82, 21, 76, 0.8)), url(../images/game-off-gif.gif);
        background-size: cover;
        background-position: 40%;
        box-shadow: -5px 0px 30px 0px black;
    }

    .navbar-brand img{
        border: 6px solid var(--color-base);
    }

    .nav-link{
        font-size: 35px;
    }

    .about-wrapper{
        flex-direction: column;
    }

    /* CONTENT WRAPPER */
    #content-wrapper{
        padding-left: var(--sidebar-width);
    }
}

@media (min-width: 1300px){
    .about-wrapper{
        flex-direction: row;
    }
}
/* NAVBAR END */

/* BUTTON */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    color: var(--color-base);
    border-color: var(--color-brand);
}

.btn-brand:hover, .btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}
/* BUTTON END */

/* LINK */
.link-custom{
    font-weight: 700;
    position: relative;
    color: var(--color-link)
}

.link-custom::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: var(--color-link2);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover{
    color: var(--color-link2);
}

.link-custom:hover::after{
    width: 100%;
    color: var(--color-link2);
}
/* LINK END */